<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="/css/styles/landing.css">
    <link rel="stylesheet" href="/css/styles/formAccess.css">
    <title>Fazer Cadastro</title>
</head>

<body>
    <div id="container">
        <header class="header-landing">
            <%- include('../layouts/geral/header.ejs') %>
        </header>
        <main class="main">
            <form action="" method="POST">
                <h3>Cadastro</h3>
                <div class="filds">
                    <input type="text" id="name" name="username" placeholder="Name" required="">
                    <label for="firstName">Insira seu nome de usuário</label>
                </div>
                <div class="filds">
                    <input type="email" id="email" name="email" placeholder="Email" required="">
                    <label for="firstName">Insira seu email</label>
                </div>
                <div class="filds">
                    <input type="password" name="password" id="password" placeholder="Password" required="">
                    <label for="password">Senha</label>
                </div>
                <%- include('../layouts/errors/errorAccess.ejs')%>
                <div class="btn-object">
                    <button type="submit" class="login">Cadastrar</button>
                </div>
            </form>
            <p class="alert-signup">Já possui uma conta ? <a href="/access/login">Login</a></p>
        </main>
        <footer>
            <%- include('../layouts/geral/footer') %>
        </footer>
    </div>
</body>

</html>