<div class="logo">
    <a href="/">
        <img src="/img/logo.svg" alt="">
    </a>
</div>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/access/login">Login</a></li>
    </ul>
</nav>